/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.parent{
	
}
/* Labels */
.informationLabel{
	-fx-text-fill: black;
	-fx-font-size: 35;
	-fx-font-family: System;
	-fx-font-weight: Bold;
}
.tituloLabel{
	-fx-text-fill: black;
	-fx-font-size: 60;
	-fx-font-family: System;
	-fx-font-weight: Bold;
}
.textoLabel{
	-fx-text-fill: black;
	-fx-font-size: 20;
	-fx-font-family: System;
	-fx-font-weight: normal;
}

/* Botones */
.botones{
	-fx-background-color: #60C7C1;
}
.botones:hover{
    -fx-opacity: 0.8;
    -fx-text-fill: black;
    -fx-color: #C6E9FB;
    -fx-cursor: hand;
}
.botoninfo{
	-fx-background-color:  #60C7C1;
}
.botoninfo:hover{
    -fx-opacity: 0.8;
    -fx-text-fill: black;
    -fx-color: #EEE5E3;
    -fx-cursor: hand;
}

